.header__menu-component_ent {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 610px) {
  .header__menu-component_ent {
   
    padding-top: 7px;
    margin-bottom: -10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}