.login__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding-top: 15px;
}


@media (max-width: 410px) {
  .login__text {
    padding-top: 20px;
  }
}
